<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Редактор формы</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <script type="text/javascript" src="~/Scripts/script.js"></script>
</head>
<body class="content">
        @RenderBody()
</body>
</html>
